{% extends 'base.html'%} {%block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"> {%endblock%} {% block content%}


<section class="jumbo">
    <h1>what's cooking today?</h1>
    <div class="search">
        <form>
            <input type="search" placeholder="find a recipe" value="{{meal_name}}">
            <button label="FIND" data-toggle="tooltip" title="Hooray!" type="submit">FIND</button>
        </form>

    </div>
</section>

<!-- <h1> Hello World </h1> -->
{% endblock %}