{% extends 'base.html'%}
{%block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
{%endblock%}

<!-- content block -->
{% block navbar %}
<header>
    <section class="wrapper nav-flex">
        <nav>
           <a href="{{url_for('.index')}}">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe9k2A_J82ARitrdRr3QsR_vCiqycWnziyxbCgx1uOnpZZ9cr2" class="logo">
           </a>
        </nav>
        <nav class="navigation">
		  <ul>
              <li><a href="{{url_for('.category')}}">CATEGORIES</a></li>
		  </ul>
        </nav>
        <nav class="login-area">
          <!-- {% if current_user.is_authenticated %} -->
            <button class="login">
              <a href="{{url_for('auth.logout')}}">LOG OUT</a>
            </button>
          <!-- {% else %} -->
            <button class="login">
              <a href="{{url_for('auth.login')}}">LOG IN </a>
            </button>
          <!-- {% endif %} -->
        </nav>
    </section>
</header>
{% endblock %}
